.block-hor-xl.content-lg-fill.content-sm-ver.text-center.strikeout-words
  .content-lg-ver
    h1.fade-in
      for component, i in components
        .word(
          class=component.hidden && "word-hidden"
          data-word=component.word
        )
          div(class=component.klass)
            if component.hidden
              for letter in component.word
                if letter === " "
                  | &nbsp;
                else
                  span(data-letter=letter).hidden-letter= letter
            else
              != component.word

.word-letters

.slide-footer.slide-up
  .slide-footer-prompt!= prompt
  .slide-footer-touched
    .btn.btn-muted.btn-done OK, I'm done

