//- .full-screen.construct-canvas-container
  canvas.construct-canvas

.block-hor-xl.content-lg-fill.content-sm-ver.text-center.strikeout-words
  .content-lg-ver
    h1.fade-in
      for word, i in components
        .word(
          data-replaces=word.incorrect && word.replaces
          class=word.incorrect && "word-incorrect"
        )
          div(class=word.klass)
            for letter in word.incorrect || word.replaces
              span.letter-btn= letter

    h3!= subtitle

  .word-letters
    ul
      li.letter o
      li.letter w
      li.letter r
      li.letter d
      li.letter e
      li.letter s
      li.letter p

.slide-footer.slide-up
  .slide-footer-prompt!= prompt
  .slide-footer-touched
    .btn.btn-muted.btn-done OK, I'm done

